---
---

//
// IMPORTS
//

@import "variables";
// Syntax highlighting @import is at the bottom of this file

//**************/
//* BASE RULES */
//**************/

body {
  color: $dark-gray;
  font-family: $body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darker-gray;
  font-family: $header-font;
  font-weight: bold;
}

a {
  color: $red;
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:active {
    color: $red;
  }
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint {
  img {
    max-width: none;
  }
}

.date {
  color: $gray;
  font-family: $subtext-font;
  font-style: italic;
}

// Specify the color of the selection
::-moz-selection {
  background: $light-gray;
  color: $black;
}

::selection {
  background: $light-gray;
  color: $black;
}

//*********************/
//* LAYOUT / SECTIONS */
//*********************/

//
// .masthead
//

.wrapper-masthead {
  border-top: 5px $red solid;
  margin-bottom: 50px;
}

.masthead {
  @include mobile {
    text-align: center;
  }

  border-bottom: 1px solid $light-gray;
  padding: 20px 0;
}

.site-avatar {
  @include mobile {
    display: block;
    float: none;
    margin: 0 auto;
  }

  float: left;
  height: 70px;
  margin-right: 15px;
  width: 70px;

  img {
    border-radius: 5px;
  }
}

.site-info {
  @include mobile {
    display: block;
    float: none;
    margin: 0 auto;
  }

  float: left;
}

.site-name {
  color: $red;
  cursor: pointer;
  font-family: $header-font;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0;
}

.site-description {
  @include mobile {
    margin: 3px 0;
  }

  color: $gray;
  font-family: $header-font;
  font-size: 16px;
  font-weight: 300;
  margin: -5px 0 0;
}

nav {
  @include mobile {
    display: block;
    float: none;
    font-size: 16px;
    margin-top: 9px;
  }

  float: right;
  font-family: $subtext-font;
  font-size: 18px;
  margin-top: 23px; // @TODO: Vertically middle align

  a {
    @include mobile {
      color: $red;
      margin: 0 10px;
    }

    color: $red;
    font-weight: 300;
    letter-spacing: 1px;
    margin-left: 20px;
    text-align: right;
  }
}

//
// .main
//

#main {
  // TODO: Makes this so the bottom nav isn't overwriting content
  margin-bottom: 70px;
}

.posts {
  &> .post {
    border-bottom: 1px solid $light-gray;
    padding-bottom: 2em;

    &:last-child {
      border-bottom: 0;
      padding-bottom: 1em;
    }
  }
}

.post {
  blockquote {
    border-left: 2px solid $gray;
    color: $gray;
    font-size: 22px;
    font-style: italic;
    margin: 1.8em .8em;
    padding: 0.1em 1em;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
    text-transform: uppercase;
  }

  .post-tag {
    font-family: $subtext-font;
  }
}

.wrapper-footer {
  background-color: $light-gray;
  border-top: 1px solid $red;
  margin-top: 50px;
}

footer {
  padding: 10px 0;
  text-align: center;

  a {
    color: $gray;
  }
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
