---
layout: page
title: Worlds
---
{% assign tags = site.tags | sort %}

<div>
  <div>
    {% for tag in tags %}
      {%  if site.worlds contains tag[0] %}
        <a href="#{{ tag[0] | slugify }}" class="tag badge badge-danger mr-1">{{ tag[0] }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <hr/>
  <div>
    {% for tag in tags %}
      {%  if site.worlds contains tag[0] %}
        <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
        <ul>
          {% for post in tag[1] %}
          <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <small class="date">{{ post.date | date_to_string }}</small>
          </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
  </div>
</div>
