
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$red: #e10707;

// Grays
$black: #000;
$darker-gray: #222;
$dark-gray: #333;
$gray: #666;
$light-gray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helvetica-neue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$garamond: 'EB Garamond', serif;
$dancing-script: 'Dancing Script', cursive;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
