---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post py-3">

      <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
      <div class="entry">
        <span class="date">{{ post.date | date_to_string }}</span>
        {% if post.tags and post.tags.size > 0 %} |
        {% for tag in post.tags %}
        <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="tag badge badge-secondary mr-1">{{ tag }}</a>
        {% endfor %}
        {% endif %}
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More...</a>
    </article>
  {% endfor %}
</div>
