---
layout: page
title: Tags
---
{% assign tags = site.tags | sort %}

<div>
  <div>
    {% for tag in tags %}
      <a href="#{{ tag[0] | slugify }}" class="tag badge badge-danger mr-1">
        {{ tag[0] }}
      </a>
    {% endfor %}
  </div>
  <hr />
  <div>
    {% for tag in tags %}
    <div class="mb-3">
      <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
      <ul class="fa-ul">
        {% for post in tag[1] %}
        <li>
          <span class="fa-li">
            <i class="fas fa-chevron-right"></i>
          </span>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <small class="date">{{ post.date | date_to_string }}</small>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
